<div class="container">
    <span class="title">Users and Dates</span>

    <form [formGroup]="dateForm" >
        <mat-form-field appearance="standard">
           <mat-label>year(xxxx)</mat-label>
           <input matInput formControlName="year" type="number">
        </mat-form-field>
        <mat-form-field appearance="standard">
           <mat-label>month(yy)</mat-label>
           <input matInput formControlName="month" type="number">
        </mat-form-field>
    </form>


    <mat-card *ngFor="let user of this.users" (click)="this.cardClick(user)">
        {{user.first_name}} {{user.last_name}}
    </mat-card>
</div>





