<div class="container">
    <span class="title">Dates</span>
</div>



<form [formGroup]="dateForm" >
    <mat-form-field appearance="standard">
       <mat-label>year(xxxx)</mat-label>
       <input matInput formControlName="year" type="number">
    </mat-form-field>
    <mat-form-field appearance="standard">
       <mat-label>month(yy)</mat-label>
       <input matInput formControlName="month" type="number">
    </mat-form-field>
</form>
<div class="font-change">
<button mat-stroked-button [disabled]="!dateForm.valid" (click)="submit()">Run</button>
</div>

